<!DOCTYPE html>
<html lang="en" id="c2viewer" class="no_js">
<head>
  <title>{% block title %}PacGeo{% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="description" content="{% block description %}{% endblock %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="author" content="Pacific Geomatics" />
  <meta name="robots" content="index" />{% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}{% block footer %}{% endblock %}
</body>
</html>
