
{% extends "base.html" %}

{% block title %}C² Viewer{% endblock %}
{% block description %}C² Viewer{% endblock %}

{% block head %}
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.2/mapbox-gl.css" rel="stylesheet" />
  <link href="stylesheets/base.css" rel="stylesheet" />
  <link href="stylesheets/map.css" rel="stylesheet" />
  <script src="https://fb.me/react-0.14.6.js"></script>
  <script src="https://fb.me/react-dom-0.14.6.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.28.2/react-bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div id="map"></div>
<div id="map-location" class='circle pin-bottomleft transition'></div>
<div class="pin-bottomright pin-bottomleft controls text-center z10">
  <div class="btn-group" role="group" aria-label="button-group">
    <button type="button" class="btn btn-default" id="btn-locations">
      <span class="glyphicon glyphicon-map-marker" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Locations"></span>
    </button>
    <button type="button" class="btn btn-default" id="btn-basemaps">
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Basemaps"></span>
    </button>
    <button type="button" class="btn btn-default" id="btn-photos">
      <span class="glyphicon glyphicon-camera" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Photos"></span>
    </button>

    <button type="button" class="btn btn-default" id="btn-geodata">
      <span class="glyphicon glyphicon-globe" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="GeoData"></span>
    </button>
    <button type="button" class="btn btn-default" id="btn-settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Settings"></span>
    </button>
  </div>
</div>

<div class='pin-topleft z1' id='top-left-logo'>
  <div class='pad1'>
    <img src='images/pacgeo_logo_white_360px.png' width="110px" alt='PacGeo logo' />
  </div>
</div>

<div class='pin-bottomright z1 transition' id='bottom-right-logo'>
  <div class='pad1'>
    <img src='images/pacgeo_logo_white_360px.png' width="110px" alt='PacGeo logo' />
  </div>
</div>

{% endblock %}

{% block footer %}
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.2/mapbox-gl.js"></script>
<!--<script src="javascript/map.js"></script>-->
<script type="text/babel" src="javascript/bundle.js"></script>
{% endblock %}