
{% extends "base.html" %}

{% block title %}C² Viewer{% endblock %}
{% block description %}C² Viewer{% endblock %}

{% block head %}
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.2/mapbox-gl.css" rel="stylesheet" />
  <link href="stylesheets/base.css" rel="stylesheet" />
  <link href="stylesheets/map.css" rel="stylesheet" />
  <script src="https://fb.me/react-0.14.6.js"></script>
  <script src="https://fb.me/react-dom-0.14.6.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.28.2/react-bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div id='main-container'>
  <!--Main Map-->
  <div id="map" class="transition map"></div>

  <!--Location Diagram-->
  <div id="map-location" class='circle pin-bottomright transition z10 map-location'></div>

  <!--Bottom Controls-->
  <div id="controls" class="pin-bottomright pin-bottomleft controls text-center z5 transition fill-black">
    <div class="btn-group" role="group" aria-label="button-group">
      <!--Locations-->
      <button type="button" class="btn btn-default" id="btn-locations">
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Locations"></span>
      </button>
      <!--Layers-->
      <button type="button" class="btn btn-default" id="btn-layers">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Layers"></span>
      </button>
      <!--Photos-->
      <button type="button" class="btn btn-default" id="btn-photos">
        <span class="glyphicon glyphicon-camera" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Photos"></span>
      </button>
      <!--GeoData-->
      <button type="button" class="btn btn-default" id="btn-geodata">
        <span class="glyphicon glyphicon-globe" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="GeoData"></span>
      </button>
      <!--Settings-->
      <button type="button" class="btn btn-default" id="btn-settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Settings"></span>
      </button>
    </div>
  </div>

  <!--PacGeo Logo-->
  <div class='z1 pin-bottomleft pad0 transition' id="pacgeo-logo">
    <img src='images/pacgeo_logo_white_360px.png' width="150px" alt='PacGeo logo transition' />
  </div>

  <!--Basemaps Menu-->
  <div class='z1 pin-topleft pad1 basemaps'>
    <button type="button" class="btn btn-default" id="btn-locations">
      <span class="glyphicon glyphicon-th basemap" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Basemaps"></span>
    </button>
  </div>
</div>
<div class='pin-bottomleft pin-topleft options fill-light z10' id='options'>
</div>
{% endblock %}

{% block footer %}
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.2/mapbox-gl.js"></script>
<!--<script src="javascript/map.js"></script>-->
<script type="text/babel" src="javascript/bundle.js"></script>
{% endblock %}