/* Absolute containers
------------------------------------------------------- */
.pin-top,
.pin-right,
.pin-bottom,
.pin-left,
.pin-topleft,
.pin-topright,
.pin-bottomleft,
.pin-bottomright {
  position:absolute;
  }
  .pin-bottom { right:0; bottom:0; left:0; }
  .pin-top    { top:0; right:0; left:0; }
  .pin-left   { top:0; bottom:0; left:0; }
  .pin-right  { top:0; right:0; bottom:0; }
  .pin-bottomright { bottom:0; right:0; }
  .pin-bottomleft  { bottom:0; left:0; }
  .pin-topright    { top:0; right:0; }
  .pin-topleft     { top:0; left:0; }