#map { position:absolute; top:0; bottom:0; width:100%; }
#map-location { width:250px; height:250px; z-index: 10; margin: 5px;}
.controls {
  height: 60px;
  line-height: 60px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.glyphicon {
    font-size: 1.8em;
}

.btn-default {
    background-color: rgba(255, 255, 255, 0.75);
}

.circle { border-radius: 50%; }

@media screen and (max-width: 700px) {
    #map-location {
        display: none;
    }
}