{% extends "base.html" %}

{% block title %}C² Viewer{% endblock %}
{% block description %}C² Viewer{% endblock %}

{% block head %}
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.4/mapbox-gl.js'></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v0.1.0/mapbox-gl-geocoder.js'></script>
  <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.4/mapbox-gl.css' />
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v0.1.0/mapbox-gl-geocoder.css' type='text/css' />
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/map.css">
{% endblock %}

{% block body %}
  <div id='main-container'>

    <!-- Main Map -->
    <div id="map" class="transition map"></div>

    <!-- Location Diagram -->
    <div id="map-mini" class='circle pin-bottomright transition z10 map-location'></div>

    <!-- Bottom Controls -->
    <div id="controls" class="pin-bottomright pin-bottomleft controls text-center z5 transition fill-black">
      <div class="btn-group" role="group" aria-label="button-group">

        <!-- Locations -->
        <button type="button" class="btn btn-default controls-locate-me" id="btn-locations">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Locate me!"></span>
        </button>

        <!-- Basemaps Menu -->
        <div class="btn-group dropup" role="group" aria-label="basemaps">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="btn-basemaps">
            <span class="glyphicon glyphicon-th basemap" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Basemaps"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="basemap-imagery active"><a href="#">Imagery</a></li>
            <li class="basemap-streets"><a href="#">Street</a></li>
            <li class="basemap-topographic"><a href="#">Topographic</a></li>
          </ul>
        </div>

        <!-- Features -->
        <div class="btn-group dropup" role="group" aria-label="features">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="btn-locations">
            <span class="glyphicon glyphicon-tasks features" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Features"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="features-collection-plan active"><a href="#">Collection Plan</a></li>
            <li class="features-poi disabled"><a href="#">Points of Interest</a></li>
            <li class="features-boundaries disabled"><a href="#">Boundaries</a></li>
          </ul>
        </div>

        <!-- GeoData -->
        <div class="btn-group dropup" role="group" aria-label="locations">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="btn-locations">
            <span class="glyphicon glyphicon-globe locations" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Locations"></span>
          </button>
          <ul class="dropdown-menu">
            {% for location in locations %}
            <li class="location-{{ location.href }}"><a href="/{{ location.href }}">{{ location.name }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <!-- Settings -->
        <div class="btn-group dropup" role="group" aria-label="settings">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="btn-locations">
            <span class="glyphicon glyphicon-cog settings" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Settings"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="settings-fullname disabled"><a>{{ user.fullName }}</a></li>
            <li class="settings-login"><a href="/login">Login</a></li>
            <li class="settings-logout"><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- PacGeo Logo -->
    <div class='z1 pin-bottomleft pad0 transition' id="pacgeo-logo">
      <img src='/images/pacgeo_logo_white_360px.png' width="150px" alt='PacGeo logo transition' />
    </div>

  </div>
  <div class='pin-bottomleft pin-topleft options fill-light z10' id='options'>
  </div>
{% endblock %}

{% block footer %}
  <script src='javascript/bundle.js'></script>
{% endblock %}
