<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <title>C² Viewer</title>
    <meta charset="utf-8" />
    <meta name="description" content="C² Viewer">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="author" content="Pacific Geomatics">
    <meta name="robots" content="index">

    <link href="/static/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link rel="stylesheet"
    href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.4/mapbox-gl.css"
    integrity="sha384-CS7AiMtZb5c/8weFoWn7/r2tRXJDwcTEdZudDXjRVNbwSJmKo8MGqDDQxYK7FjmX"
    crossorigin="anonymous">
    <link href="/static/css/map.css" rel="stylesheet" />
    <link href="/static/css/app.css" rel="stylesheet" />
    {% block head %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    <script
      src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.4/mapbox-gl.js"
      integrity="sha384-K0CCfJOoW1X+e/rRauXwWmz56xkvEAgqn1oKTQOTBI/0TQbvIMOyzeYlU/RbNHle"
      crossorigin="anonymous"></script>
    <script src="/static/js/map.js" type="text/javascript"></script>
    {% block footer %}{% endblock %}
</body>
</html>
