{% extends 'base.html' %}

{% block title %}C² Viewer | Log In{% endblock %}
{% block description %}Log into your account!{% endblock %}

{% block body %}
<div id="login_container">
  <div id="login_form">
    <img id="logo" src="static/images/pacgeo_logo.png">
    <form method="POST">
      {{ form.hidden_tag() }}
        {{ form.hidden_tag() }}
      {% if config['STORMPATH_ENABLE_USERNAME'] %}
        {{ form.login(placeholder='Username or Email', required='true') }} <br />
      {% else %}
        {{ form.login(placeholder='Email', required='true') }} <br />
      {% endif %}
      {{ form.password(placeholder='Password', required='true') }} <br />
      <input class="submit" type="submit" value="Log in">
    </form>
    {# Display errors (if there are any). #}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <p class="security_warning">
      C2Viewer relies on security features and functionality available
      in Google Chrome 45+.
    </p>
  </div>
</div>
{% endblock %}
