{% extends "base.html" %}
{% block content %}

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>

<h1>Log Page</h1>

<form method="POST" action="/logs">
  {{ form.hidden_tag() }}
  <input id="clear" name="clear" type="hidden" value="True">
  <input class="submit" type="submit" value="Clear Logs">
</form>

<table style="width:100%">
  <tr>
    <th>Status</th>
    <th>Route</th>
    <th>Email</th>
    <th>Address</th>
    <th>Message</th>
    <th>Datetime</th>
    <th>Method</th>
  </tr>
{% for row in logs %}
  <tr>
    <td>{{ row.status }}</td>
    <td>{{ row.route }}</td>
    <td>{{ row.email }}</td>
    <td>{{ row.address }}</td>
    <td>{{ row.message }}</td>
    <td>{{ row.datetime }}</td>
    <td>{{ row.method }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}