{% extends "base.html" %}
{% block content %}

<div id="map_controls">
  <input class="map_control" id="zoom_in" type="submit" value="+" />
  <input class="map_control" id="zoom_out" type="submit" value="-" />
  <input class="map_control" id="rotate" type="submit" value="rotate" />
  <input class="map_control" id="tilt" type="submit" value="tilt" />
  <input class="map_control" id="logout" type="submit" value="logout" />
</div>
<div id="basemaps">
  <input class="basemap" id="imagery" type="submit" value="imagery" />
  <input class="basemap" id="topo" type="submit" value="topo" />
  <input class="basemap" id="dark" type="submit" value="dark" />
</div>
<!-- MAP -->
<div id="map"></div>
{% endblock %}
